body{
    background-color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
header{
    background-color: darkgreen;
}

nav{
    border-top: red solid 25px;
    border-bottom: red solid 25px;
    border-left: red solid 25px;
    border-right: red solid 25px;
    

}
