body{
    background-color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
header{
    background-color: darkgreen;
    border-top-color: red solid 10px;
    border-bottom-color: red solid 10px;
    border-left-color: red solid 10px;
    border-right-color: red solid 10px;
}

nav{
    border-top-color: red;
}
