body{
    background-color: coral;
}
header{
    background-color: darkgreen;
}
.blanco{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    background-color: yellowgreen;
    border: royalblue solid ;
    width: 50%;

}
section .colores{
    border: red solid 8px;
    border-top-color:  red;
    border-right-color:chartreuse ;
    border-bottom-color:yellow ;
    width: 50%;

}