body{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
}


header{
    background-color: #ffffff;
    height: 10vh;
    width: 100%;
}


.material-icons{
    color: black;
    display: flex;
    flex-direction: row;
    margin: 3px 0px 5px 0px;
    padding: 10px 5px 10px 5px;
    font-size: 24px;
    width: 3%
}
.Inicio{
    font-size: 16px;
    font-weight: bolder;
    color: #ffffff;
    border-radius: 25px;
    background-color: black;
    border-top: black solid 5px;
    border-bottom: black solid 5px;
    border-left: black solid 15px;
    border-right: black solid 15px;
    margin: 0px 10px 0px 10px;
    padding: 10px 5px 10px 5px;
}

nav{
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    height: 10px 0px 10px 0px;
    border: 0px;
    margin: 0px 10px 20px 0px;
    padding: 20px 0px 20px 25px;
    position: relative;
    width: 100%;
}
.Hoy{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: black;
    margin: 5px 5px 5px 5px;
    padding: 10px 5px 5px 10px;
}

.Hoy:hover{
    border-radius: 80px;
    border-top: gray solid 5px;
    border-bottom: gray solid 5px;
    border-left: gray solid 5px;
    border-right: gray solid 5px;
    background-color:gray;
}
.material-icons:hover{
    border-radius: 80px;
    border-top: gray solid 5px;
    border-bottom: gray solid 5px;
    border-left: gray solid 5px;
    border-right: gray solid 5px;
    background-color:gray;
}
input[type=search] {
    margin: 10px;
    padding: 5px;
    background-color: rgb(238, 238, 238);
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 10px;
    width: 900px;
    }

main{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0px 20px;
    padding: 20px;
    height: 90vh;
    width: 71%

}
.grid-gallery {
    display: grid;
    grid-auto-rows: 200px;
    gap: 1rem;
    grid-auto-flow: row dense;
    border-radius: 25px;
}

@media all and (min-width: 320px) {
    .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (min-width: 768px) {
    .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .grid-gallery {
    grid-template-columns: repeat(6, 1fr);
    }
}

.grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3;
}

.grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-gallery__image{
    border-radius: 25px;
}
.grid-gallery__image:hover{
    background-color: grey;
    filter: brightness(40%);
    
}